.alert-box {
    color: #555;
    border-radius: 10px;
    font-family: Tahoma,Geneva,Arial,sans-serif;
    font-size: 11px;
    padding: 10px 10px 10px 36px;
    margin: 10px;    
}

    .alert-box span {
        font-weight: bold;
        text-transform: uppercase;
    }

.notice {
    background: #e3f7fc url('../images/notice.png') no-repeat 10px 50%;
    border: 1px solid #8ed9f6;
}
